

<ion-content>
    <div class="container">
        <div class="header">
    <img src="../../assets/logo3.PNG" width="10%" height="100%;">
        </div>
    <div class="image">
      <div class="border">
        <div class="text">
          <div class="one">
            <div class="slides">
               <h1>The Grand Hotel</h1>
    
             <div class="lines">
               <div class="two"></div> 
               <div class="images"><img src="../../assets/fifi.PNG" width="100%" height="auto"></div>
               <div class="two"></div> 
                </div>
    
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Quo amet fuga magnam repudiandae eveniet voluptatibus beatae,
              consequatur mollitia magni molestias minima accusantium quia 
              inventore doloremque!</p>
            </div> 
            
          </div>
         
        </div>
      </div>
      <div class="btn">
      <ion-button color="beige" style="width: 45%; background-color: #dacbab" (click)="moveToLogin()" routerDirection="forward">login</ion-button>
      <ion-button color="primary" style="width: 45%" (click)="moveToRegister()" routerDirection="forward">register</ion-button>
    </div>
  </div>
</div>

</ion-content>
